<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Achat</display-name>
  
  
  <servlet>
  	<servlet-name>ic</servlet-name>
  	<servlet-class>mesCommandes.InscriptionClient</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ic</servlet-name>
  	<url-pattern>/sinscrire</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>a</servlet-name>
  	<servlet-class>mesCommandes.Achat</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>a</servlet-name>
  	<url-pattern>/Achat</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>ad</servlet-name>
  	<servlet-class>mesCommandes.AfficherLesDisques</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ad</servlet-name>
  	<url-pattern>servlet/achat</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>cd</servlet-name>
  	<servlet-class>mesCommandes.CommanderUnDisque</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>cd</servlet-name>
  	<url-pattern>servlet/commande</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>ec</servlet-name>
  	<servlet-class>mesCommandes.EnregistrerCommande</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ec</servlet-name>
  	<url-pattern>servlet/enregistre</url-pattern>
  </servlet-mapping>
  
  
    
  <servlet-mapping>
  	<servlet-name>cd</servlet-name>
  	<url-pattern>servlet/commande</url-pattern>
  </servlet-mapping>
  
  

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>